.envrc
.dir-locals.el
**/*.agdai
**/*.ttc
**/*.ttm
**/*.ibc
panbench/generators/test/staging/*
_build
**/.clangd
.DS_Store
.direnv

# Profiling results
*.hp
*.eventlog*

# Cabal
cabal.project*.local
**/dist-*
/lib/generators/test/staging/
