.envrc
.dir-locals.el
**/*.agdai
**/*.ttc
**/*.ttm
**/*.ibc
**/dist-newstyle
**/dist-prof
panbench/generators/test/staging/*
_build
**/.clangd
.DS_Store

**/*.aux
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out

